[v-cloak] {
    display: none;
}

table {
    border: 1px solid #151515;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #151515;
    padding: 8px 16px;
    text-align: left;
}

th {
    background: #77c9ff;
    columns: #141817;
    font-weight: 600;
    white-space: nowrap;
}